/***** Start Media Query *****/


/* Start Xstra Small Screen */

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .carousel {
        height: 500px;
    }
    .carousel .item img {
        height: 300px;
    }
    .carousel-caption {
        display: none;
    }
    .price_table .price_box {
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 100px;
    }
    .subscribe .form-control {
        margin: 20px auto;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: none;
    }
    .fa-lg {
        font-size: 1.33333em;
        margin-bottom: 24px;
        line-height: .75em;
        vertical-align: -0.0667em;
    }
}


/* End Xstra Small Screen */


/* Start Small Screen */

@Media (min-width: 768px) and (max-width: 991px) {
    .works img {
        width: 75%;
    }
}


/* End Small Screen */


/* Start Medium Screen */

@Media (min-width: 991px) and (max-width: 1199px) {
    .works img {
        width: 50%;
    }
}


/* End Medium Screen */


/* Start Larg Screen */

@Media (min-width: 1200px) {}


/* Start Larg Screen */


/***** End Media Query *****/